.container {
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url("../../../assets/images/chess-ai-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.choose-players {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-container {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.select-btn {
    padding: 10px;
    min-width: 120px;
    margin: 25px;
}

.create-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.select-colour {
    margin-top: 10px;
}

.select-players-form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}

.select-players-div {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}