.chessboard-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    font-size: 10px;

}

.black-tile {
    background-color: black;
    color: white;
}

.white-tile {
  background-color: chocolate;
  color: black;
}
